.canvasMain {
	width: 60%;
	height: 100%;
}

.canvas {
	width: 100%;
	height: 90%;
	position: relative;
}

$canvas-header-color: #bdbdbd;

.canvasHeader {
	width: 100%;
	height: 9.2%;
	box-sizing: border-box;
	background-color: $canvas-header-color;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center; /* vertical */
}

.canvasHeader form {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center; /* vertical */
	justify-content: center; /* horizontal */
}

.round {
	position: absolute;
	width: max-content;
	left:0;
	margin-left: 2%;
	font-size: calc(8px + 1.4vw);
	font-weight: bold;
	color: #000000;
}

.submit {
	width: 20%;
	position: absolute;
	right: 0;
	margin-right: 5%;
}

.scenario {
	width: max-content;
	font-size: calc(5px + 1.25vmin);
}

.help {
	position: absolute;
	top:0;
	right:0;
	margin: 0.5% 0.5% 0 0;
	font-size: 1.7vh;
	// filter: invert(1)
}

.help:hover {
	cursor: pointer;
}

.timer {
	height: 0.8%;
}

$ct-img-width: 2.5vmin;
$ct-img-width-margin: 1vmin;

.canvasTools {
	width: calc((#{$ct-img-width} * counter(canvasToolsImg)) + (#{$ct-img-width-margin} * 2 * counter(canvasToolsImg)));
	height: 6%;
	position: absolute;
	display: flex;
	align-items: center; /* vertical */
	top:0;
	left:0;
	background-color: $canvas-header-color;
	border-right: 3px solid #9fd8cd;
	border-bottom: 3px solid #9fd8cd;
	z-index: 15; // enough to override z-index for canvas drawings
	box-shadow: $drop-box-shadow;
	overflow: hidden;
}

.canvasToolsImg {
	width: $ct-img-width;
	margin: 5% $ct-img-width-margin 2% $ct-img-width-margin;
}

.smallBrush {
	width: 2vmin;
}

.canvasTools img:hover {
	cursor: pointer;
}