.canvas {
	width: 60%;
	height: 100%;
}

.canvasUtils {
	width: 100%;
	height: 10%;
	padding: 0 2% 0 2%;
	border-bottom: 2px solid $accent-color;
	box-sizing: border-box;
	background-color: #cacaca;
}

/* material ui timer progress circle */

.canvasDraw {
	cursor: url('../resources/favicon/favicon-32x32.png') 1 32, auto;
}