.chatRoomDiv {
	width: 23%;
	height: 100%;
	margin-left: 1vw;
}

.chatRoom {
	width: 100%;
	height: 100%;
	// border: 2px solid black;
	background-color: rgb(255, 255, 255);
	overflow-y: auto;
	position: relative;
}

.messageLog {
	width: 100%;
	padding: 0 6% 0 6%;
	box-sizing: border-box;
	font-size: 1vw;
}

.sendMessage {
	padding: 6%;
	width: 100%;
	box-sizing: border-box;
    position: absolute;
	bottom: 0;
}