.footer {
	height: 8vh;
	margin-top: 2vh;
	background-color: rgb(68, 68, 68);
	display: flex;
	align-items: center; /* vertical */
}

.footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-flex;
}

.footer li {
	list-style-position: inside;
	white-space: nowrap;
	display: inline-flex;
	text-align: center;
	margin-left: 15%;
}

.footer li a {
	text-decoration: none;
	color: white;
}