@import 'canvas';
@import 'chatRoom';
@import 'players';

.game {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around; 
    justify-content: space-around;
	flex-direction: row;
	width: 90vw;
	height: 80vh;
	max-width: 1720px;
	max-height: 750px;
	min-width: 700px;
	min-height: 500px;
	margin: 0 auto;
}

.gameMain {
	width: 60%;
	height: 100%;
}