@import 'canvas';
@import 'chatRoom';
@import 'players';

.game {
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around; 
    justify-content: space-around;
	flex-direction: row;
	width: 90vw;
	height: 80vh;
	margin: 0 auto;
	/* border: 2px solid white; */
}