.lobbySetup {
	width: 680px;
	max-width: 90%;
	height: 70vh;
	margin: 7vh auto;
	display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
	background-color: $container-background-color;
	box-shadow: $drop-box-shadow;
	position: relative;
}

.lobbySetup form {
	width: 400px;
	max-width: 80%;
}

.lobbySetup ul {
	display: flexbox;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style-type: none;
}

$lobbySetup-li-count: 3;
$lobbySetup-li-height-padding-percent: 20;

.lobbySetup li {
	text-align: center;
	margin: ((100 - $lobbySetup-li-height-padding-percent) / $lobbySetup-li-count) + 0% 0;
	// margin: 30% 0; // might be problematic if there's more than 3 li
	box-shadow: $drop-box-shadow;
}